html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

a,
a:hover {
  color: #333;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

* {
  font-family: "微软雅黑";
  box-sizing: border-box;
  color: #333;
}

.w {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  width: 35px;
  display: none;
}

#snows {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#snows .snow {
  opacity: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
}

#header {
  background-color: #fff;
}

#header .w,
#header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

#header h2 {
  color: orange;
  font-size: 32px;
}


#header .nav li {
  padding: 0 17px;
  margin: 0 3px;
  color: #000;
  height: 60px;
  line-height: 60px;
  position: relative;
}

#header .nav li:after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: hsl(39, 97%, 62%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .3s linear;
  transform: scale(0);
}

#header .nav li:hover::after {
  transform: scale(1);
}

#header .nav:hover li a {
  color: #ccc;
}

#header .nav li:hover a {
  color: #000;
}

#header .toggle-theme {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background: #222;
  transition: .5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}

.toggle-theme .toggle-i {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

#header .toggle-theme.active {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}

#header .toggle-theme.active .toggle-i {
  left: 50%;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  ;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

#snows.active {
  background: radial-gradient(ellipse at bottom, #b8cee7 0%, #f0f1f8 100%);
}

.tree-box {
  position: fixed;
  right: 10%;
  bottom: 3%;
}

.tree {
  width: 200px;
  height: 300px;
  position: relative;
  /* border: 1px solid #fff; */
}

.star {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  top: -25px;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  animation: startTree 3.5s ease infinite alternate;
}

.star:hover {
  animation-play-state: paused;
}

.star-in {
  position: absolute;
  left: 50%;
  top: 50%;
  border-right: 100px solid transparent;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  transform: translateX(-50%) translateY(-50%) rotate(35deg)scale(0.14);
}

.star-in::before {
  content: "";
  position: absolute;
  top: -45px;
  left: -65px;
  border-bottom: 80px solid gold;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-35deg);
}

.star-in::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -105px;
  border-bottom: 70px solid gold;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  transform: rotate(-70deg);
}

@keyframes startTree {
  0% {
    background: radial-gradient(ellipse at center,
        gold 0%, rgba(255, 240, 158, 0.5) 45%,
        rgba(255, 242, 173, 0.2) 63%,
        rgba(255, 255, 255, 0.1) 100%);
    transform: translateX(-50%) rotate(0deg);
  }

  25% {
    background: radial-gradient(ellipse at center,
        gold 0%, rgba(255, 240, 158, 0.5) 43%,
        rgba(255, 242, 173, 0.2) 65%,
        rgba(255, 255, 255, 0.1) 100%);
    transform: translateX(-50%) rotate(180deg);

  }

  50% {
    background: radial-gradient(ellipse at center,
        gold 0%, rgba(255, 240, 158, 0.5) 41%,
        rgba(255, 242, 173, 0.2) 67%,
        rgba(255, 255, 255, 0.1) 100%);
    transform: translateX(-50%) rotate(360deg);

  }

  75% {
    background: radial-gradient(ellipse at center,
        gold 0%, rgba(255, 240, 158, 0.5) 39%,
        rgba(255, 242, 173, 0.2) 69%,
        rgba(255, 255, 255, 0.1) 100%);
    transform: translateX(-50%) rotate(180deg);

  }

  100% {
    background: radial-gradient(ellipse at center,
        gold 0%, rgba(255, 240, 158, 0.5) 37%,
        rgba(255, 242, 173, 0.2) 71%,
        rgba(255, 255, 255, 0.1) 100%);
    transform: translateX(-50%) rotate(0deg);
  }
}

.leaf {
  position: absolute;
  left: 50%;
  top: 3%;
  margin-left: -30px;
  background-color: rgba(14, 110, 14);
  width: 60px;
  height: 60px;
  border-radius: 0 10px 35px 10px;
  transform: rotate(45deg);
  box-shadow: 2px 7px 2px rgba(43, 43, 43, .2);
}

.edge {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(14, 110, 14);
  width: 25px;
  height: 30px;
  border-radius: 0 10px 35px 10px;
  transform: translateY(50%) translateX(0);
}

.edge.right {
  position: absolute;
  left: unset;
  bottom: unset;
  top: 0;
  right: 0;
  background: rgba(14, 110, 14);
  width: 25px;
  height: 30px;
  border-radius: 0 10px 35px 10px;
  transform: translateY(0) translateX(50%);
}

.leaf:nth-child(even) {
  background-color: #0f880f;
}

.leaf:nth-child(even) .edge {
  background-color: #0f880f;
}

.leaf:nth-child(1) {
  z-index: 100;
  transform: rotate(45deg) scale(0.8);
}

.leaf:nth-child(2) {
  z-index: 99;
  top: 15%;
  transform: rotate(45deg) scale(1.3);
}

.leaf:nth-child(3) {
  z-index: 98;
  top: 28%;
  transform: rotate(45deg) scale(1.6);
}

.leaf:nth-child(4) {
  z-index: 97;
  top: 41%;
  transform: rotate(45deg) scale(1.9);
}

.leaf:nth-child(5) {
  z-index: 96;
  top: 54%;
  transform: rotate(45deg) scale(2.2);
}

.trunk {
  width: 25px;
  height: 45px;
  border-radius: 0 0 3px 3px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 1;
  transform: translateX(-50%);
  box-shadow: 0 0 10px 5px rgb(19, 19, 19);
  background: linear-gradient(0deg, #6d411b 0%, #5a341d 64%);
}

.ball {
  width: 20px;
  height: 20px;
  background: #f00;
  box-shadow: inset -1px -1px 6px #600,
    inset 1px 1px 8px #ffc9c9;
  border-radius: 50%;
  z-index: 101;
  position: absolute;
}

.b1 {
  left: 25%;
  top: 30%;
}

.b2 {
  left: 35%;
  top: 50%;
}

.b3 {
  left: 65%;
  top: 20%;
}

.b4 {
  left: 45%;
  top: 22%;
}

.b5 {
  left: 40%;
  top: 72%;
}

.b6 {
  left: 60%;
  top: 52%;
}

.b7 {
  left: 50%;
  top: 62%;
}

.b8 {
  left: 80%;
  top: 42%;
}

.b9 {
  left: 10%;
  top: 62%;
}

.b4,
.b5,
.b6 {
  background: #ececec;
  box-shadow: inset -1px -1px 6px #615f5f, inset 1px 1px 8px #fff;
}

.b7,
.b8,
.b9 {
  background: gold;
  box-shadow: inset -1px -1px 6px #3a3101, inset 1px 1px 8px #fff;
}

.sparkle span {
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 101;
  color: #fff;
  animation: startSpa 1.5s ease infinite alternate;
}

@keyframes startSpa {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.sparkle span:nth-child(1) {
  left: 30%;
  top: 40%;
}

.sparkle span:nth-child(2) {
  left: 40%;
  top: 27%;
  font-size: 15px;
}

.sparkle span:nth-child(3) {
  left: 50%;
  top: 40%;
  font-size: 12px;
}

.sparkle span:nth-child(4) {
  left: 70%;
  top: 67%;
  font-size: 14px;
}

.sparkle span:nth-child(5) {
  left: 74%;
  top: 13%;
  font-size: 16px;
}

.blink div {
  width: 3px;
  height: 3px;
  background: #fff;
  z-index: 101;
  position: absolute;
  border-radius: 50%;
  animation: startBlink 1.5s ease infinite alternate;
}

.blink div:nth-child(2) {
  left: 34%;
  top: 13%;
  transform: scale(1.2);
}

.blink div:nth-child(3) {
  left: 54%;
  top: 43%;
  transform: scale(0.6);
}

.blink div:nth-child(4) {
  left: 64%;
  top: 33%;
  transform: scale(1.4);
}

.blink div:nth-child(5) {
  left: 34%;
  top: 63%;
  transform: scale(1.8);
}

.blink div:nth-child(6) {
  left: 14%;
  top: 76%;
  transform: scale(1.5);
}

@keyframes startBlink {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }

  25% {
    box-shadow: 0 0 1px 1px #fff;
  }

  50% {
    box-shadow: 0 0 2px 2px #fff;
  }

  75% {
    box-shadow: 0 0 3px 3px #fff;
  }

  100% {
    box-shadow: 0 0 4px 4px #fff;
  }
}

.snowfield {
  width: 100%;
  height: 7%;
  background-color: #fdfdff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.snowfield span {
  width: 100px;
  height: 60px;
  position: absolute;
  top: -10px;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
}

.snowfield span:nth-child(2) {
  left: 15%;
  top: -17px;
  transform: scale(1.3);
}

.snowfield span:nth-child(3) {
  left: 15%;
  top: -17px;
  transform: scale(1.3);
}

.snowfield span:nth-child(4) {
  left: 70%;
  top: -17px;
  transform: scale(1.5);
}

.snowfield span:nth-child(5) {
  left: 95%;
  top: -9px;
  transform: scale(1.8);
}

.snowfield span:nth-child(6) {
  left: 35%;
  top: -10px;
  transform: scale(1.4);
  border-top-right-radius: 60px;
  border-top-left-radius: 150px;
}

.snowfield span:nth-child(7) {
  left: 45%;
  top: -7px;
  transform: scale(1.1);
  border-top-right-radius: 40px;
  border-top-left-radius: 150px;
}

.snowfield span:nth-child(8) {
  left: 55%;
  top: -7px;
  transform: scale(1.4);
  border-top-right-radius: 150px;
  border-top-left-radius: 30px;
}

.snowfield span:nth-child(9) {
  left: 65%;
  top: -3px;
  transform: scale(1.4);
  border-top-right-radius: 160px;
  border-top-left-radius: 30px;
}



/* 雪人 */
.snowman-box {
  height: 510px;
  width: 350px;
  position: absolute;
  margin: auto;
  left: 100px;
  bottom: -100px;
  transform: scale(0.6);
}

.snowman {
  position: relative;
  left: 5px;
  top: 53px;
}

.face {
  background-color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  top: 100px;
  left: 110px;
}

.eyel,
.eyer {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;

}

.eyel {
  top: 40px;
  left: 35px;
}

.eyer {
  top: 25px;
  left: 75px;
}

.nose {
  height: 0;
  width: 0;
  border-top: 30px solid #f7880f;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: relative;
  top: 35px;
  left: 57px;

}

.hat {
  background-color: #2b303a;
  height: 10px;
  width: 120px;
  position: relative;
  bottom: 50px;
  left: 15px;
  border-radius: 4px;
  transform: rotate(20deg);
}

.htop {
  height: 0;
  width: 60px;
  border-bottom: 43px solid #2b303a;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: relative;
  bottom: 42px;
  left: 22px;
}

.body {
  background-color: white;
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 50%;
  top: 90px;
  left: 70px;
}

.buttons {
  position: relative;
  top: 60px;
  left: 90px;
}

.b1,
.b2,
.b3 {
  height: 15px;
  width: 15px;
  background-color: #2b303a;
  border-radius: 50%;
  margin-bottom: 20px;
}

.handl {
  background-color: #84382a;
  height: 5px;
  width: 100px;
  position: relative;
  bottom: 68px;
  transform: rotate(25deg);
  right: 67px;
}

.s1 {
  background-color: #84382a;
  height: 5px;
  width: 30px;
  position: relative;
  bottom: 10px;
  transform: rotate(45deg);
  right: 5px;
}

.handr {
  background-color: #84382a;
  height: 5px;
  width: 100px;
  position: relative;
  bottom: 73px;
  transform: rotate(-25deg);
  left: 168px;
}

.s2 {
  background-color: #84382a;
  height: 5px;
  width: 30px;
  position: relative;
  bottom: 10px;
  transform: rotate(-45deg);
  left: 65px;
}

.scarf {
  height: 0;
  width: 20px;
  border-bottom: 50px solid red;
  border-left: 8px solid transparent;
  position: relative;
  bottom: 90px;
  left: 195px;
  transform: rotate(-15deg);
}

.sc1 {
  background-color: red;
  height: 35px;
  width: 120px;
  position: relative;
  bottom: 35px;
  right: 85px;
  border-radius: 10px;
  transform: rotate(15deg);
}

.sc2 {
  height: 0px;
  width: 20px;
  border-bottom: 70px solid red;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: relative;
  right: 25px;
  bottom: 45px;
}


#bingdundun.active .b-ear,
#bingdundun.active .bl-hand,
#bingdundun.active .bl-hand:after,
#bingdundun.active .br-hand,
#bingdundun.active .br-hand:after,
#bingdundun.active .bl-foot,
#bingdundun.active .bl-foot:after,
#bingdundun.active .br-foot,
#bingdundun.active .br-foot:after{
  background: #000;
}

#bingdundun {
  position: relative;
  margin-left: 10rem;
  margin-top: 10rem;
  height: 3.4rem;
  width: 3rem;
  transform: scale(3);
}

.b-body {
  border: 0.06rem solid #000;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 55% 55% 55% 55% / 50% 50% 60% 60%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}

.b-ear {
  width: .9rem;
  height: 1.2rem;
  position: absolute;
  top: 0;
  left: .2rem;
  border: 0.06rem solid #000;
  border-radius: 50% 60% 60% 50% / 50% 50% 50% 50%;
  background: #fff;
  z-index: 0;
  transform: rotate(-20deg);
}

.br-ear {
  right: .2rem;
  left: auto;
  transform: rotateY(180deg) rotate(-20deg);
}

.b-face1 {
  width: 2.2rem;
  height: 1.7rem;
  border-radius: 60% 60% 50% 50% / 70% 70% 48% 48%;
  border: 0.05rem solid #1c1f00;
  position: absolute;
  top: .45rem;
  left: .4rem;
  z-index: 1;
}

.b-face2 {
  width: 2.28rem;
  height: 1.78rem;
  border-radius: 60% 60% 50% 50% / 70% 70% 48% 48%;
  border: 0.04rem solid #335fe6;
  position: absolute;
  top: .41rem;
  left: .36rem;
  z-index: 1;
}

.b-face3 {
  width: 2.34rem;
  height: 1.84rem;
  border-radius: 60% 60% 50% 50% / 70% 70% 48% 48%;
  border: 0.03rem solid #ee39d3;
  position: absolute;
  top: .38rem;
  left: .33rem;
  z-index: 1;
}

.b-face4 {
  width: 2.38rem;
  height: 1.86rem;
  border-radius: 60% 60% 50% 50% / 70% 70% 48% 48%;
  border: 0.02rem solid #edf466;
  position: absolute;
  top: .36rem;
  left: .31rem;
  z-index: 1;
}

.b-face5 {
  width: 2.4rem;
  height: 1.88rem;
  border-radius: 60% 60% 50% 50% / 70% 70% 48% 48%;
  border: 0.02rem solid #6cf078;
  position: absolute;
  top: .34rem;
  left: .29rem;
  z-index: 1;
}

.bl-hand {
  position: absolute;
  z-index: 0;
  width: .8rem;
  height: 1.3rem;
  border-radius: 50%;
  background: #fff;
  top: 1rem;
  left: -.5rem;
  transform: rotate(-15deg);
}

.bl-hand:after {
  position: absolute;
  content: '';
  width: 1.3rem;
  height: .8rem;
  background: #fff;
  border-radius: 50%;
  transform: rotate(35deg);
  top: 0.71rem;
}

.br-hand {
  position: absolute;
  z-index: 0;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  background: #fff;
  right: -.5rem;
  top: 2.2rem;
}

.br-hand:after {
  position: absolute;
  background: #fff;
  width: 0.8rem;
  height: 0.8rem;
  top: -0.24rem;
  left: -0.26rem;
  content: '';
  transform: rotate(-47deg);
  border-radius: 0 0 0 80%;
}

.bl-foot {
  position: absolute;
  background: #fff;
  width: .9rem;
  height: .9rem;
  top: 3rem;
  left: .3rem;
  border-radius: 50%;
}

.bl-foot:after {
  position: absolute;
  z-index: 0;
  height: .9rem;
  width: .9rem;
  content: '';
  background: #fff;
  top: -0.45rem;
  transform: rotate(12deg);
  left: 0.1rem;
  border-radius: 0 50% 50% 0;
}

.br-foot {
  position: absolute;
  background: #fff;
  width: .9rem;
  height: .9rem;
  top: 3rem;
  right: .3rem;
  border-radius: 50%;
}

.br-foot:after {
  position: absolute;
  z-index: 0;
  height: .9rem;
  width: .9rem;
  content: '';
  background: #fff;
  top: -0.45rem;
  transform: rotate(-12deg);
  right: 0.1rem;
  border-radius: 0 0 0 50%;
}

.bl-eye {
  position: absolute;
  width: 0.6rem;
  height: .8rem;
  top: 0.8rem;
  left: 0.65rem;
  background: #000;
  z-index: 2;
  border-radius: 50%;
  transform: rotate(45deg);
}

.bl-eye:after,
.br-eye:after {
  position: absolute;
  width: .3rem;
  height: .3rem;
  border: .03rem solid #fff;
  border-radius: 50%;
  content: '';
  top: .1rem;
  left: .15rem;
}

.br-eye:after {
  left: auto;
  right: .15rem;
}

.bl-eye:before,
.br-eye:before {
  top: .23rem;
  left: .22rem;
  position: absolute;
  width: .1rem;
  height: .1rem;
  background: #fff;
  border-radius: 50%;
  content: '';
}

.br-eye:before {
  left: 0.22rem;
  top: 0.18rem;
}

.br-eye {
  position: absolute;
  width: 0.6rem;
  height: .8rem;
  top: 0.8rem;
  right: 0.65rem;
  background: #000;
  z-index: 2;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.b-mouth {
  border: 0.05rem solid #000;
  position: absolute;
  top: 1.3rem;
  width: 1rem;
  height: 0.5rem;
  z-index: 1;
  left: 50%;
  margin-left: -0.5rem;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  border-top: none;
}

.b-mouth:after,
.b-mouth:before {
  position: absolute;
  content: '';
  width: .5rem;
  background: #fff;
  height: 0.5rem;
  top: -0.15rem;
  transform: rotate(45deg);
}

.b-mouth:after {
  left: -0.21rem;
}

.b-mouth:before {
  right: -0.21rem;
}

.b-mouth-dot {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.b-mouth-dot:after,
.b-mouth-dot:before {
  position: absolute;
  top: .333rem;
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #000;
  content: '';
}

.b-mouth-dot:after {
  left: .113rem;
}

.b-mouth-dot:before {
  right: .113rem;
}

.b-nose {
  background: #000;
  width: .3rem;
  height: .3rem;
  position: absolute;
  left: 50%;
  margin-left: -0.15rem;
  top: 1.25rem;
  z-index: 1;
  transform: rotate(50deg) skewY(-10deg);
  border-radius: 30%;
}

.b-nose:after {
  width: 0.352rem;
  height: 0.36rem;
  position: absolute;
  content: '';
  border-radius: 50%;
  border-top: 0.1rem solid #fff;
  top: -0.07rem;
  transform: rotate(-45deg) skewY(0deg);
  left: -0.017rem;
}

.b-heart {
  width: .5rem;
  height: .5rem;
  position: absolute;
  top: 1.25rem;
  left: -.32rem;
  z-index: 2;
}

.b-heart:before,
.b-heart:after {
  content: "";
  position: absolute;
  width: .12rem;
  height: .2rem;
  background-color: red;
  border-radius: .2rem .2rem 0 0;
  top: 0;
}

.b-heart:before {
  transform: rotate(-45deg);
  left: 0;
}

.b-heart:after {
  transform: rotate(45deg);
  right: .32rem;
}

.b-logo {
  background-image: url("./dongao.png");
  background-repeat: no-repeat;
  width: .5rem;
  position: absolute;
  height: .8rem;
  z-index: 2;
  background-size: contain;
  top: 2.45rem;
  left: 50%;
  margin-left: -0.25rem;
}